.modal__content {
  max-width: 496px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
}

.modal__input-name {
  margin-bottom: 20px;
}

.modal__input-avatar-url {
  margin-top: 8px;
}

.modal__save-changes {
  margin-top: 20px;
  max-width: fit-content;
  width: 130px;
  padding: 8px, 16px, 8px, 16px;
  gap: 8px;
  border-radius: 8px;
  height: 36px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: bold;
  font-size: 16px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}
