.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  border: 1px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__legend {
  margin-bottom: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal__input {
  display: block;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 100%;
  gap: 8px;
}

.modal__input_name {
  margin-bottom: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__input_image {
  margin-bottom: 24px;
  gap: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label_name {
  margin-bottom: 24px;
  gap: 8px;
}

.modal__label_image {
  margin-bottom: 24px;
  gap: 8px;
}

.modal__radio_input .modal__label {
  gap: 8px;
  margin-bottom: 24px;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__label_type_radio {
  margin-bottom: 0;
  margin-left: 10px;
  color: #000;
}

.modal__submit {
  width: 124px;
  height: 36px;
  gap: 12px;
  cursor: pointer;
  margin-top: 32px;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  color: #0000004d;
}

@media screen and (max-width: 627px) {
  .modal__close {
    color: #000;
    border-radius: 1px;
  }

  .modal__content {
    max-width: 375px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}
