.modal__submit {
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal__submit--empty {
  background-color: #0000004d;
}

.modal__submit--partial {
  background-color: #00000099;
}

.modal__submit--filled {
  background-color: #000000;
}
